<div class="main-header">
  <div class="main-header-left">
    <div class="chatroom-name">
    hogehuge
    </div>
  </div>
  <div class="main-header-right">
    <div class="chat-end-btm">
     <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chats-display">

  <div class="chat-box">
    <div class="chat-title">
      <div class="chat-name">
      Tom
      </div>
      <div class="chat-date">
      2020/03/31(Wed) 12:43:30
      </div>
    </div>
    <div class="chat-content">
    おはよう
    </div>
  </div>

  <div class="chat-box">
    <div class="chat-title">
      <div class="chat-name">
      Tom
      </div>
      <div class="chat-date">
      2020/03/31(Wed) 18:43:30
      </div>
    </div>
    <div class="chat-content">
    こんばんわ
    </div>
  </div>

</div>
<div class="chat-sender">
  <div class="form">
    <div class="form-input">
      <input class="form-message" placeholder= "type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input class="form-submit" type="submit" value="送信">
  </div>
</div>