  <div class="chat-box">
    <div class="chat-title">
      <div class="chat-name"><%= message.user.name %></div>
      <div class="chat-date"><%= l message.created_at %></div>
    </div>
    <div class="chat-content">
      <div class="chat-text">
        <%= message.content %>
      </div>
      <%= image_tag message.image.variant(resize: '500x500') , class: 'message-image' if message.image.attached? %>
    </div>
    
  </div>