  <div class="chat-box">
    <div class="chat-title">
      <div class="chat-name"><%= message.user.name %></div>
      <div class="chat-date"><%= message.created_at %></div>
    </div>
    <div class="chat-content"><%= message.content %></div>
  </div>