<div class="side-bar-up">
  <div class="user-name">
    <%= link_to "Tom", root_path, class: "chatname" %>
  </div>
  <div class="new-oom">
    <%= link_to "チャットを作成する", root_path, class: "roomlink" %>
  </div>
  </div>
<div class="side-bar-dwn">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>