.wrapper {
  display: flex;
}
/* サイドバー */
.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-bar-up {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color: #FAFAFA;
  font-size: 16px;
  line-height: 100px;
  text-decoration: none;
}

.new-room a{
  color: deepskyblue;
  font-size: 10px;
  line-height: 100px;
  text-decoration: none;
  padding: 14px;
  border: 1px solid lightblue;
}

.side-bar-dwn {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room-name{
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

/* メインチャット */
.main-chat{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-bar {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.chats-display {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.chat-sender {
  height: 90px;
  background-color: #dddddd;
  padding: 40px 20px;
}

