.wrapper {
  display: flex;
}
/* サイドバー */
.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-bar-up {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color: #FAFAFA;
  font-size: 16px;
  line-height: 100px;
  text-decoration: none;
}

.new-room a{
  color: deepskyblue;
  font-size: 10px;
  line-height: 100px;
  text-decoration: none;
  padding: 14px;
  border: 1px solid lightblue;
}

.side-bar-dwn {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room-name{
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

/* メインチャット */
.main-chat{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-header {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chatroom-name {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.chat-end-btm {
  margin-top: 40px;
}

.chat-end-btm a{
 
  padding: 20px;
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
}

.chats-display {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.chat-title {
  display: flex;
  margin-top: 10px;
}

.chat-name{
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}

.chat-date {
  font-size: 12px;
  color: #999;
}

.chat-content {
  margin-top: 10px;
  font-size: 14px;
  color: #434A54;
}

.chat-sender {
  height: 90px;
  background-color: #dddddd;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}
